@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.region-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #595260;
}

.select {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select button {
  border: 0;
  height: 3rem;
  width: 11rem;
  margin: 0.5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  margin-left: 2.1rem;
  margin-top: 2.1rem;
}

.select button:hover {
  color: white;
  background-color: #2C2E43;;
  height: 4rem;
  width: 12rem;
}

.countries-by-region {
  width: 75%;
  display: flex;
}

.regions-container {
    background-color: transparent;
}

.couRegions {
  width: 20%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.title-all {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  background-color: #2C2E43;
  color: white;
}

.all2{
    background-color: transparent;
    margin: 0;
    font-size: 1.5rem;
    width: 100%;
    
}

.title-all h2 {
  margin-left: 2.1rem;
}

.child-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2C2E43;
}

.child-container .world{
    width: 50%;
    height: 30rem;
    display: flex;
    align-items: center;

}

.child-container .world2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.world2 h1{
    color: white;
    font-size: 3.5rem;
    font-family: 'Dancing Script', cursive;
}

.world2 h2{
    color: white;
    font-size: 2rem;
}

.child-container img{
    width: 100%;
    height: 100%;
}

.moreRegion{
  color: white;
  text-decoration: none;
  height: 5rem;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreRegion:hover{
  font-size: 8rem;
}

.title h1{
  font-size: 10rem;
}

@media (max-width: 1000px) {
  .region-section {
    flex-direction: column;
  }
  .couRegions {
    width: 90%;
  }
  .select {
    width: 80%;
    flex-direction: column;
  }

  .child-container{
      flex-direction: column;
  }
  .child-container .world{
      width: 100%;
  }
  .child-container img{
    width: 100%;
    height: 100%;
}
}
